html, body {
    width: 100%;
    height: 100%;
    font-family: 'Life Savers', cursive, 'Ubuntu', sans-serif;
    font-weight: 600;

  }

.landing {
    min-width: 100%;
    min-height: 100%;
    background: url(assets/images/background-cat.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar-brand {
    font-family: 'Life Savers', cursive;
}
.margin-background {
    border-left: 10vh solid #212529;
    border-right: 10vh solid #212529;

}

.about-image {
  width: 40vw;
}
.top-margin {
    margin-top: 20px;
}
.subscribe {
margin-top: 10%;
}
.btn-subscribe {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  padding: 1rem 2rem;
}
.subscribe {
  margin-top: 10%;

}
h1 {
 color: #285f38;
 font-weight: 800;

}
h2 {
  color: #285f38;
  font-weight: 800;
}
.div-margin {
  margin-top: 3rem;;
}
.gallery-img {
	width: 25vw;
	transition: all 1s;
  float: left;
}

.gallery-img:hover { 
transform: scale(1.1);
 }
 .gallery-margins {
   margin-bottom: 1rem;
 }
.gallery-header {
  padding-top: 20px;
}
/* back to top */
#toTopBtn {
  position: fixed;
  bottom: 26px;
  right: 39px;
  z-index: 98;
  padding: 21px;
  background-color:#285f38;
}

.js .cd-top--fade-out {
  opacity: .5
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
  background-color: hsla(5, 76%, 62%, .8);
  background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}